@import "tailwindcss";

@theme {
  /* Define a CSS variable for the animation properties */
  --animate-scroll: scroll 10s linear infinite;

  /* Define the actual keyframes for the animation */
  @keyframes scroll {
    0% {
      
      transform: translateX(0);
    }
    100% {
     
      transform: translateX(-50%);
    }
  }
}


.nav-links li:hover {
    color: white; /* Accent color on hover */

    background-color: #FF5722;

}

.nav-links li {
    width: 100%;
    margin: 0;
    padding: 10px;

}